
/* Default CSS */
QWidget {
    background-color: #333333;
    color: white;
}
QTableWidget QHeaderView::section {
    background-color: #222222;
    color: #DDDDDD;
}
th {
  background-color: black;
}

QPushButton {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #AAAAAA,
                                      stop: 1 #888888);
}
QPushButton:hover {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #999999,
                                      stop: 1 #555555);
	border: 3px dashed black;
}

/* Add more CSS rules here */
